<!DOCTYPE html>
<html lang="en" >
   <head>
      <link rel="shortcut icon" href="favicon.png" type="image/png">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="description"
         content="Wedding invitations. Shout out to @vinitshahdeo from https://github.com/vinitshahdeo who provided the majority of source code.">
      <meta name="author" content="Jason Liu">
      <meta name="email" content="jason.liujc@yahoo.com">
      <meta name="copyright" content="None" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Wedding Invitation | August 26th, 2022 | Jason (Jiachen) Liu and Hilda (Chang) He" />
      <meta property="og:description"
         content="As one of the best of friends of ours, we humbly invite you to our small wedding at Roche Harbor Resort, in San Juan Island, Northenn Washington." />
      <meta property="og:image" content="https://media.xogrp.com/images/af2bb40e-b72b-4a08-b07b-4c3319dda70c~rt_auto-cr_0.120.3264.1752-rs_1280.h?ordering=explicit" />
      <meta property="og:url" content="" />
      <meta property="og:site_name" content="Wedding Invitation | August 26th" />
      <meta name="twitter:card" content="website">
      <meta name="twitter:site" content="Wedding Invitation | August 26th">
      <meta name="twitter:title" content="Wedding Invitation | August 26th">
      <meta name="twitter:description"
         content="As one of the best of friends of ours, we humbly invite you to our small wedding at Roche Harbor Resort, in San Juan Island, Northen Washington.">
      <meta name="twitter:creator" content="@PartyLike1984">
      <meta name="twitter:image" content="https://media-api.xogrp.com/images/290f1f69-faaa-48d9-8bca-95553a8fb502~rt_auto-cr_0.0.2500.1875-rs_2500.1875?ordering=explicit">

      <title>Wedding Invitation | August 26th, 2022 | Jason Liu and Hilda He </title>

      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap'>
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <div class="sakura-falling"></div>
      <img src="https://i.imgur.com/dGOOfnA.png" alt="image-top-right" class="top-right-decoration">
      <img src="https://i.imgur.com/t6ffnbn.png" alt="image-top-left" class="top-left-decoration">
      <section id="media"></section>
      <div class="wrap">
         <div class="title">
            <h1>Jason </h1>
            <h2>&</h2>
            <h1>Hilda</h1>
            <h3>Are getting married</h3>
            <p>
               on <span class="date">August 26th, 2022</span></29>, At <span class="place">Roche Harbor Resort</span> San Juan Island, WA
            </p>
         </div>
      </div>
      <div id="time"></div>
      <p class="dance-med">
         Ceremony at 4 pm, happy hour at 5 pm, reception at 6:15 pm
      </p>
      <div class="actions">
        <a href="https://www.rocheharbor.com/" target="_blank">
          <div class="venue">See the Venue</div>
        </a>

        <a href="https://www.theknot.com/us/jason-liu-and-hilda-he-aug-2022" target="_blank">
          <div class="venue">See the Wedding Website</div>
        </a>
      </div>
      <p class="footer">
         This is a precious milestone of our lives. And we'd love to celebrate it with you! <br>

         <span></span>
      </p>
      <div class="music">
        <audio src="/static/assets/mp3/blueberry.mp3" id="my_audio" loop="loop"></audio>
      </div>
      <p class="happiness">Hope to see you there!</p>
      <a href="https://github.com/Jason-liujc/Wedding-Invitation", style="position: fixed; bottom: 0; width:100%; text-align: center">Source Code per GNU Affero license</a>
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
      <script  src="/static/js/script.js"></script>
   </body>
<!---

       db                                                                       ad888888b,    ad8888ba,           88
      d88b                                                           ,d        d8"     "88   8P'    "Y8    ,d     88
     d8'`8b                                                          88                a8P  d8             88     88
    d8'  `8b     88       88   ,adPPYb,d8  88       88  ,adPPYba,  MM88MMM          ,d8P"   88,dd888bb,  MM88MMM  88,dPPYba,
   d8YaaaaY8b    88       88  a8"    `Y88  88       88  I8[    ""    88           a8P"      88P'    `8b    88     88P'    "8a
  d8""""""""8b   88       88  8b       88  88       88   `"Y8ba,     88         a8P'        88       d8    88     88       88
 d8'        `8b  "8a,   ,a88  "8a,   ,d88  "8a,   ,a88  aa    ]8I    88,       d8"          88a     a8P    88,    88       88
d8'          `8b  `"YbbdP'Y8   `"YbbdP"Y8   `"YbbdP'Y8  `"YbbdP"'    "Y888     88888888888   "Y88888P"     "Y888  88       88
                               aa,    ,88
                                "Y8bbdP"

 ___                            _____  _                ___           _
(  _`\                         (_   _)( )              (  _`\        ( )_
| (_(_)   _ _  _   _    __       | |  | |__     __     | | ) |   _ _ | ,_)   __
`\__ \  /'_` )( ) ( ) /'__`\     | |  |  _ `\ /'__`\   | | | ) /'_` )| |   /'__`\
( )_) |( (_| || \_/ |(  ___/     | |  | | | |(  ___/   | |_) |( (_| || |_ (  ___/
`\____)`\__,_)`\___/'`\____)     (_)  (_) (_)`\____)   (____/'`\__,_)`\__)`\____)

                                                                                                                                                                                     
-->


<!-- Sincere thanks to Vinit Shahdeo who helped me saved a lot of time. -->
<!-- Special thanks to Hilda who told me what "target" means in HTML... -->

</html>
